@import url(https://fonts.googleapis.com/css?family=Quando);
*, *:after, *:before {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
* {margin:0;padding:0;border:0 none;position: relative; outline: none;
}
h2{
font-size:1rem;
line-height:1.6;
}
.navbar-nav .nav-item > a > h2:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 0;
  left: 0;
  background: #9CF5A6;
  visibility: hidden;
  border-radius: 5px;
  transform: scaleX(0);
  transition: .25s linear;
}
.navbar-nav .nav-item:hover > a > h2:before,
.navbar-nav .nav-item > a > h2:focus:before {
  visibility: visible;
  transform: scaleX(1);
}
.uno h2:before {
  background: rgba(0,0,0,0);
  box-shadow: 0 0 10px 2px #ffdb00;  
}
.navbar-nav .nav-item .dos > h2:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 7px;
  border: 1px solid #000;
  bottom: -2px;
  left: 0;
  background: #fff;
  border-radius: 5px;
  opacity: 0;
  transform: scalex(0);
  transition: .5s;
}
.navbar-nav .nav-item .dos.bis > h2:after {
  opacity: .05;
  transform: scalex(1);
}
.navbar-nav .nav-item:hover > .dos > h2::after {
  opacity: .15;
  transform: scalex2(1);
}
.navbar-nav .nav-item .dos.bis > h2:before {
  background: rgba(0,0,0,0);
  box-shadow: 0 0 10px 2px #FADD40;
}
.navbar-nav .nav-item .dos > h2:before {
  background: rgba(0,0,0,0);
  box-shadow: 0 0 10px 2px #FF5E33;
}
/* Admin Login Page */

/* Index Main Page*/
html{
scroll-behavior: smooth;
}
/*Social Links */
.form-inline .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #212431;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

/*Logo Animation */
#mylogocolor{
  width: 300px;
  height: 200px;
  font-size:27px;
  background: #e91e63;
  padding:3px;
  animation: mymove 5s;
  text-decoration-line: overline;
}

@keyframes mymove {
  from {background-color:#fff; color: #e91e63;}
  to {background-color: #e91e63;color: #fff;}
}
 
.navbar-brand
{
color:#fff;
margin-right: 97px;
}
.navbar-brand:hover
{
color:#fff; 
} 
.navbar-expand-sm{
background-color:#de1e5f;
border: 2px solid #e91e63;	
}
.nav-link{
    border: 2px solid #e91e63;
    background-color: #000;
    color: #fff;
    text-decoration: none;
    background-color: #de1e5f;
	padding: 2rem;
    text-align: center;
    width: 152px;
	font-size:17px;
    height: 92px;
}
.nav-link:hover{
	    border-radius: 10px;
        border: 2px solid #de1e5f;
        color: #fff;
        text-decoration: none;
        background-color: #e91e63;
}
.fa-bars{
    font-size:20px;
	width:20px;
}
@media (min-width: 576px) {
.navbar-expand-sm .navbar-nav .nav-link {
   padding: 2rem;
}
}

.navbar{
    padding:0px;
	
}
.container{
    margin:0px;

}
.btn-login {
    color: #fff;
    background-color: #e91e63;
    border-color: #fff; 
    
}
.btn-login:hover
{
color:#fff;
}
.col-6{
    width:100%;
}
.headings{
    color: #fff;
    padding: 10px;
    border-radius: 64px;
    background-color: #e91e63;
    text-align: center;
	font-size:32px;
}
#left-About{ 
    padding: 23px;
}
#right-About{
padding:23px;
}
.hdAbt{
   color:#000000a6;
}
.pAbt{
    text-align: justify;
}
.aboutUs{
    padding:22px;
    background-color: #fff;
    height:auto;
}
@media (max-width: 976px)
{.col-sm-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}}
.navbar-toggler {
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: #E91E63;
    border: 1px solid #ca0e4e;
    border-radius: .25rem;
}

.products{
    padding:22px;
    background-color: #fff;
    height:auto;
}
.contactUs{
    padding:22px;
    background-color: #fff;
    height:350px;
}
.img-thumbnail {
	margin-top: 14px;
    padding: 3.25rem;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: .25rem;
    max-width: 100%;
    height: 341px;
}
.h3, h3 {
    font-size: 1.4rem;
}
.producth1{
    font-size: 1.5rem;
}
#carousel-icone{
    color:#e91e63;
}
#mycrousel ,.carousel-control-prev ,.carousel-control-next{
    border-radius: 33px;
    border: 2px solid #fff;
    background-color: #000;
    color: #fff;
    text-decoration: none;
    background-color: #fff;
    padding: 0px;
}
#mycrousel1 a , #mycrousel2 a {
    height: 25px;
    color: #611a1a;
    background-color: #673ab72e;
    margin-top: 135px;
}

.item-ratings span{
    Margin-bottom: 3px;
    Display: inline-block;
    Text-align: center;
    Font-size: 15px;
    Cursor: pointer;
    Transition: all 0.5s;
    Color: #FF9529;
    }
    
    .item-ratings span:nth-child(5){
    Color:  #FFDF00;
    }
    
    .item-ratings span:nth-child(6){
    Color: #4C2881;
    Margin-right: 2px;
    Font-size: 10.6px;
    }
   .sizefa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 20px;
    text-rendering: auto;
}
 .carousel-item
{
 box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
  -moz-box-shadow: 0 1px 2px rgba(34,25,25,0.4);
  -webkit-box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);

}
.addbtn{
    border-radius: 33px;
    font-size: 14px;
    border: 2px solid #e91e1e61;
    color: #fff;
    background-color: #e91e63f5;
    padding: 2px;
}
.addbtn:hover{
    box-shadow:2px 4px 4px 4px;
    font-size: 14px;
    border: 2px solid #e91e1e61;
    color: #fff;
    background-color: #e91e63f5;
    padding: 2px;
} 
.addbtn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.addbtn span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.addbtn:hover span {
  padding-right: 25px;
}

.addbtn:hover span:after {
  opacity: 1;
  right: 0;
}
.w-100 {
    width: 100%!important;
    padding: 99px 42px 0px 42px;
}
#submit {
	border-radius: 14px;
    margin-top: 32px;
    width: 258px;
    background-color: #E91E63;
    color: #fff;
    border: #E91E63 solid;
    padding: 4px;
    margin-left: 0px;
}
  .contact-form {
    margin-bottom: 75px;
    margin-top: 73px;
    padding: 23px;
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
}
        .myForm .submit  {        
            width: 100%;
            margin: 13px;
            box-shadow: #0000006b 4px 5px 6px -2px;
            padding: 15px;
            font-family: inherit;
            font-size: 18px;
            line-height: inherit;
        }
                
.myForm #name,#lastName,#contactNum,#emailId {
         
    display: block;
    width: 100%;
    min-height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057d1;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
          }
            .label{
                color: #000000a8;
                font-size: 19px;
				margin-top:4px;
}
                  .img-fluid{
                     width:65%;
                    }
 .figure {
    display: block;
}
 .figure-caption {
    font-size: 16px;
    color: #2d3338;
}
.mx-auto {
    padding: 19px;
    height: auto;
    margin-left: auto!important;
}
.myForm{
	margin-top:46px;
    padding:2px;
}
.h1-cus {
    text-align:center;
    font-size: 2.0rem;
    color: #00000045;
}     
#row-con1{
    margin-top:74px;
	margin-left:0px;
	margin-right:0px;	
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
}
#row-cont2{
    height: 378px;
    margin-top: 72px;
	margin-left:0px;
	margin-right:0px;
    padding-top: 32px;
    padding-left: 18px;
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
}

.contactUs #row-cont2 i  {
    font-size: 20px;
    color: #E91E63;
    float: left;
    width: 44px;
    height: 44px;
    background: #e91e634a;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
}

.contactUs #row-cont2 .email:hover i, .contactUs #row-cont2 .address:hover i, .contactUs #row-cont2 .contact:hover i {
  background: #E91E63;
  color: #fff;
}
.h6{
    color: #000;
    padding: 0 0 0 60px;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 5px;
}
.p{ 
    padding: 0 0 10px 60px;
    margin-bottom: 20px;
    font-size: 16px;
    color: #173b6c;
}

/* Footer */
.footer{
height:auto;
}
