
.navbar-brand
{
color:#fff;
margin-right: 97px;
}
.navbar-brand:hover
{
color:#fff; 
} 
.nav-link{
    border: 2px solid #e91e1e61;
    background-color: #000;
    color: #fff;
    text-decoration: none;
    background-color: #e91e63f5;
    padding: 1px;
}
.nav-link:hover{
	 border-radius: 10px;
     border: 2px solid #e91e1e61;
     padding: 1px;
     color: #fff;
     text-decoration: none;
     background-color:rgb(185, 29, 81);
}
.fa-bars{
    font-size:20px;
	width:20px;
}{
    font-size:20px;
	width:20px;
}
@media (min-width: 576px) {
.navbar-expand-sm .navbar-nav .nav-link {
   padding: 1.0rem;
}
}
.navbar{
    padding:0px;
}
.container{
    margin:0px;

}
.btn-login {
    color: #fff;
    background-color: #e91e63;
    border-color: #fff; 
    padding: 8px;
}
.btn-login:hover {
    color: #e91e63;
    background-color: #fff;
    border-color: #fff; 
    padding: 8px;
}

.col-6{
    width:100%;
}
.headings{
    color: #fff;
    padding: 10px;
    border-radius: 64px;
    background-color: #e91e63;
    text-align: center;
}
#left-About{ 
    padding: 23px;
}
#right-About{
padding:23px;
}
.hdAbt{
   color:#000000a6;
}
.pAbt{
    text-align: justify;
}
.aboutUs{
    padding:22px;
    background-color: #fff;
    height:auto;
}
@media (max-width: 976px)
{.col-sm-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}}
.navbar-toggler {
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: #E91E63;
    border: 1px solid #ca0e4e;
    border-radius: .25rem;
}

.products{
    padding:22px;
    background-color: #fff;
    height:auto;
}
.contactUs{
    padding:22px;
    background-color: #fff;
    height:350px;
}
.img-thumbnail {
	margin-top: 14px;
    padding: 3.25rem;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: .25rem;
    max-width: 100%;
    height: 341px;
}
.h3, h3 {
    font-size: 1.4rem;
}
.producth1{
    font-size: 1.5rem;
}
#carousel-icone{
    color:#e91e63;
}
#mycrousel ,.carousel-control-prev ,.carousel-control-next{
    border-radius: 33px;
    border: 2px solid #fff;
    background-color: #000;
    color: #fff;
    text-decoration: none;
    background-color: #fff;
    padding: 0px;
}
#mycrousel1 a , #mycrousel2 a {
    height: 25px;
    color: #611a1a;
    background-color: #673ab72e;
    margin-top: 135px;
}

.item-ratings span{
    Margin-bottom: 3px;
    Display: inline-block;
    Text-align: center;
    Font-size: 15px;
    Cursor: pointer;
    Transition: all 0.5s;
    Color: #FF9529;
    }
    
    .item-ratings span:nth-child(5){
    Color:  #FFDF00;
    }
    
    .item-ratings span:nth-child(6){
    Color: #4C2881;
    Margin-right: 2px;
    Font-size: 10.6px;
    }
   .sizefa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 20px;
    text-rendering: auto;
}
 .carousel-item
{
 box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
  -moz-box-shadow: 0 1px 2px rgba(34,25,25,0.4);
  -webkit-box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);

}
.addbtn{
    border-radius: 33px;
    font-size: 14px;
    border: 2px solid #e91e1e61;
    color: #fff;
    background-color: #e91e63f5;
    padding: 2px;
}
.addbtn:hover{
    box-shadow:2px 4px 4px 4px;
    font-size: 14px;
    border: 2px solid #e91e1e61;
    color: #fff;
    background-color: #e91e63f5;
    padding: 2px;
} 
.addbtn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.addbtn span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.addbtn:hover span {
  padding-right: 25px;
}

.addbtn:hover span:after {
  opacity: 1;
  right: 0;
}
.w-100 {
    width: 100%!important;
    padding: 99px 42px 0px 42px;
}
#submit {
	border-radius: 14px;
    margin-top: 32px;
    width: 258px;
    background-color: #E91E63;
    color: #fff;
    border: #E91E63 solid;
    padding: 4px;
    margin-left: 0px;
}
  .contact-form {
    margin-bottom: 75px;
    margin-top: 73px;
    padding: 23px;
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
}
        .myForm .submit  {        
            width: 100%;
            margin: 13px;
            box-shadow: #0000006b 4px 5px 6px -2px;
            padding: 15px;
            font-family: inherit;
            font-size: 18px;
            line-height: inherit;
        }
                
.myForm #name,#lastName,#contactNum,#emailId {
         
    display: block;
    width: 100%;
    min-height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057d1;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
          }
            .label{
                color: #000000a8;
                font-size: 19px;
				margin-top:4px;
}
                  .img-fluid{
                     width:65%;
                    }
 .figure {
    display: block;
}
 .figure-caption {
    font-size: 16px;
    color: #2d3338;
}
.mx-auto {
    padding: 19px;
    height: auto;
    margin-left: auto!important;
}
.myForm{
	margin-top:46px;
    padding:2px;
}
.h1-cus {
    text-align:center;
    font-size: 2.0rem;
    color: #00000045;
}     
#row-con1{
    margin-top:74px;
	margin-left:0px;
	margin-right:0px;	
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
}
#row-cont2{
    height: 378px;
    margin-top: 72px;
	margin-left:0px;
	margin-right:0px;
    padding-top: 32px;
    padding-left: 18px;
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
}

.contactUs #row-cont2 i  {
    font-size: 20px;
    color: #E91E63;
    float: left;
    width: 44px;
    height: 44px;
    background: #e91e634a;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
}

.contactUs #row-cont2 .email:hover i, .contactUs #row-cont2 .address:hover i, .contactUs #row-cont2 .contact:hover i {
  background: #E91E63;
  color: #fff;
}
.h6{
    color: #000;
    padding: 0 0 0 60px;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 5px;
}
.p{ 
    padding: 0 0 10px 60px;
    margin-bottom: 20px;
    font-size: 16px;
    color: #173b6c;
}
